<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">All Users</h3>
  </div>
  <div class="panel-content">
    <table class="table table-condensed" id="table">
     <tr>
       <th>ID</th>
       <th>Name</th>
    </tr>
  </table>
  </div>
</div>
