<h3>Home</h3>
<p>Set User</p>
<a class="btn btn-primary" (click)="setUser(1)">Jannik</a>
<a class="btn btn-primary" (click)="setUser(2)">Laura</a>
<a class="btn btn-primary" (click)="setUser(3)">Isa</a>
