<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">tbrt.de</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a routerLink="users">Users</a></li>
        <li><a routerLink="computers">Computers</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="user/{{currid}}">{{currname}}</a></li>
        <li><a><span class="glyphicon glyphicon-lock"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</div>
